.edit input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 20px;
  font-size: var(--font--12--size);
}
.edit input:focus {
  outline: none;
}

.edit input::placeholder {
  color: var(--deepGray--color);
  font-size: var(--font--12--size);
}


.edit {
  width: 100vw;
  /* height: 100vh; */
  overflow: hidden;
  position: fixed;
  z-index: 300;
}

.edit button {
  height: 30px;
  border: none;
  color: var(--white--color);
  background-color: var(--deepGray--color);
  font-size: var(--font--12--size);
  font-weight: bold;
  border-radius: 50px;
  padding: 6px;
}

.edit button:hover {
  color: var(--white--color);
  background-color: var(--red--color);
  cursor: pointer;
}

.edit button:active {
  transform: scale(0.98);
}

.modal_background {
  width: 100vw;
  background-color: rgba(31, 29, 29, 0.7);
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  z-index: 400;
}

.edit_modal {
  width: 660px;
  /* height: 440px; */
  background-color: var(--white--color);
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 500;
  border-radius: 5px;
}

.edit_modal_leftside {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 40px 40px;
}

.edit_title {
  font-size: var(--font--20--size);
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

.edit_input_area {
  height: 200px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px 0 60px 0;
}

.edit_input_area input {
  width: 100%;
  color: var(--black--color);
  background-color: transparent;
  border: none;
  border-bottom: solid 1px var(--deepGray--color);
  font-size: var(--font--12--size);
}

.edit_input_area input::placeholder {
  font-size: 12px;
}

.edit_input_area label {
  color: var(--red--color);
  font-size: var(--font--10--size);
}

.edit_label {
  position: relative;
  top: -4px;
}

.edit_img {
  width: 54%;
  /* height: 100%; */
  border-radius: 0 5px 5px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../Image/Login/Login Signup_img.jpg");
}

.editPwBtn {
}
