

.interior_Containor {
    background-color: var(--white--color);
    width: 100%;
}

.interior_In {
    background-color: var(--white--color);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 200px;
}

.interior_Title {
    background-color: var(--white--color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.interior_MainTitle {
    display: flex;
    width: auto;
    height: 50px;
    justify-content: center;
    background-color: var(--white--color);
    font-size: var(--font--30--size);
    color: var(--black--color);
    border-bottom: 1px solid var(--deepGray--color);
}

.interior_SubTitle {
    display: flex;
    width: auto;
    justify-content: center;
    background-color: var(--white--color);
    text-align: center;
    color: var(--deepGray--color);
}

.interior_Main {
    background-color: var(--white--color);
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 100px;
}

.interior_Text {
    background-color: var(--white--color);
}

.interior_MainText {
    background-color: var(--white--color);
    font-size: var(--font--14--size);
    line-height: 20px;
    margin-top: 80px;
}

.interior_SubText {
    background-color: var(--white--color);
    margin-top: 60px;
    font-size: var(--font--14--size);
    line-height: 20px;
}

.interior_MainImage {
    background-color: var(--white--color);
    width: 300px;
    margin-left: 100px;
}

.intreior_HowTo {
    background-color: var(--white--color);
    margin-top: 300px;
    text-align: center;
    font-size: var(--font--30--size);
    color: var(--black--color);
}

.interior_Wood {
    background-color: var(--white--color);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 300px;
}

.interior_WoodImage {
    width: 400px;
}

.interior_WoodText {
    background-color: var(--white--color);
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
}


.interior_WoodMainText {
    background-color: var(--white--color);
    text-align: center;
    font-size: var(--font--30--size);
}

.interior_WoodSubText {
    background-color: var(--white--color);
    color: var(--black--color);
    text-align: center;
    margin-top: 30px;
    font-size: var(--font--14--size);
}

.interior_Modern {
    background-color: var(--white--color);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 300px;
}

.interior_ModernImage {
    width: 400px;
}

.interior_ModernText {
    background-color: var(--white--color);
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 80px;
}


.interior_ModernMainText {
    background-color: var(--white--color);
    text-align: center;
    font-size: var(--font--30--size);
}

.interior_ModernSubText {
    background-color: var(--white--color);
    color: var(--black--color);
    text-align: center;
    margin-top: 30px;
    font-size: var(--font--14--size);
}


.interior_Plant {
    background-color: var(--lightGray--color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 260px;
    padding: 0px;
}

.interior_PlantListTitle {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    /* border-bottom: 1px solid var(--black--color); */

}

.interior_PlantListSubTitle {
    font-size: var(--font--16--size);
    color: var(--deepGray--color);
    margin-bottom: 5px;
    
}

.interior_PlantListMainTitle {
    font-size: var(--font--30--size);
    margin-bottom: 10px;
}

.interior_PlantList {
    margin-top: 50px;
    margin-left: 0px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 0px 20px
}
