.login input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 20px;
  font-size: var(--font--12--size);
}
.login input:focus {
  outline: none;
}

.login input::placeholder {
  color: var(--deepGray--color);
  font-size: var(--font--12--size);
}

.login button {
  height: 30px;
  border: none;
  color: var(--white--color);
  background-color: var(--deepGray--color);
  font-weight: bold;
  font-size: var(--font--14--size);
  border-radius: 50px;
  padding: 6px;
}

.login button:hover {
  color: var(--white--color);
  background-color: var(--red--color);
  cursor: pointer;
}

.login button:active {
  transform: scale(0.98);
}

.login {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 300;
  position: fixed;
}
.modal_background {
  background-color: rgba(31, 29, 29, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 400;
}

.login_modal {
  width: 660px;
  height: 440px;
  background-color: var(--white--color);
  border-radius: 5px;
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 500;
}

.login_modal_leftside {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  font-size: var(--font--12--size);
  padding: 40px;
}

.login_title {
  font-size: var(--font--20--size);
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: var(--black--color);
  margin-top: 20px;
}

.login_input_area {
  height: 170px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0px 0 62px 0;
}

.login_input_password_set {
  
  position: relative;
  top: -30px;
}

.login_input_area input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px var(--deepGray--color);
}

,
login_input_area input {
  font-size: var(--font--12--size);
}

.login_input_area label {
  color: var(--red--color);
  font-size: var(--font--10--size);
}

.login_img {
  width: 54%;
  height: 100%;
  border-radius: 0 5px 5px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../Image/Login/Login Signup_img.jpg");
}

.login_forSignup {
  font-size: var(--font--10--size);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 6px;
}

button.login_forSignup {
  color: var(--black--color);
  background-color: transparent;
  font-size: var(--font--12--size);
  font-weight: bold;
  letter-spacing: 2px;

}

button.login_forSignup:hover {
  color: var(--red--color);
  background-color: transparent;
  border: none;
}

.loginBtn {
  /* margin-bottom: 20px; */
  letter-spacing: 2px;
  line-height: 14px;
}
