.main_plants {
  width: 100%;
  background-color: var(--lightGray--color);
  padding: 140px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_plants_maintext {
  text-align: center;
  margin-bottom: 80px;
}

.main_plants_maintext_in {
  font-size: var(--font--30--size);
  font-weight: bold;
  margin-bottom: 30px;
}

.main_plants_maintext_in > span:nth-child(1) {
  margin-right: 10px;
}

.main_plants_maintext_in > span:nth-child(3) {
  margin-left: 10px;
}

.main_search {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: 3px solid var(--black--color);
  background-color: rgba(240, 255, 255, 0);
  font-weight: bold;
}

.main_search:hover {
  cursor: pointer;
  color: var(--red--color);
  border: 3px solid var(--red--color);
}

.main_plants_in {
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-content: center;
  align-items: center;
  gap: 0 30px;
  text-decoration: none;
  color: var(--black--color);
}

.main_team {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 260px 200px;
  color: var(--black--color);
  background-color: var(--white--color);
}

.main_team_title {
  width: 100%;
  text-align: center;
  font-size: var(--font--16--size);
  margin-bottom: 150px;
}

.main_team_title_bold {
  font-size: var(--font--30--size);
  font-weight: bold;
  margin-bottom: 40px;
}

.main_team_title > div:nth-child(2) {
  margin-bottom: 3px;
  letter-spacing: 1px;
}

.main_team_title > div:nth-child(3) {
  letter-spacing: 1px;
}

.main_team_link {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.main_team_profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main_team_profile_img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 80px;
  margin-bottom: 20px;
  cursor: pointer;
}

.main_team_profile_img_border {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 80px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.356);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white--color);
  font-size: var(--font--20--size);
  font-weight: bold;
  letter-spacing: 1px;
}

.main_team_profile_img_border:hover {
  opacity: 1;
}

.main_team_profile > span:nth-child(2) {
  font-weight: bold;
}

.main_team_profile > span:nth-child(3) {
  color: var(--deepGray--color);
  font-size: var(--font--14--size);
}

@media screen and (max-width: 1600px) {
  .main_team {
    padding: 120px 100px 140px 100px;
  }

  .main_team_title {
    margin-bottom: 100px;
  }

  .main_plants_maintext {
    text-align: center;
    margin-bottom: 60px;
  }

  .plantCard {
    width: 160px;
    height: 250px;
  }

  .plantCard img {
    width: 160px;
    padding: 7px;
    object-fit: cover;
  }

  .plantCard_text {
    width: 160px;
    background-color: var(--white--color);
    padding-bottom: 15px;
    padding-left: 10px;
  }

  .plantCard_maintext {
    font-size: var(--font--14--size);
  }
}

@media screen and (max-width: 1230px) {
  .main_plants_in {
    grid-template-columns: repeat(3, auto);
    gap: 30px 30px;
  }

  /* .plantCard {
    margin-top: 20px;
    width: 190px;
    height: 300px;
  }

  .plantCard img {
    width: 240px;
    padding: 7px;
    object-fit: cover;
  }

  .plantCard_maintext {
    font-size: var(--font--16--size);
  } */
}

@media screen and (max-width: 1280px) {
  .main_team_link {
    width: 900px;
  }

  .main_team {
    padding: 100px;
  }
}

@media screen and (max-width: 1000px) {
  .main_container {
    min-width: 1000px;
  }
}
