.mypage_Containor {
  width: 100%;
}

.mypage_In {
  width: 100%;
  background-color: var(--lightGray--color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mypage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 150px;
  margin-top: 20px;
}

.userpage {
  background-color: var(--white--color);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 270px;
  flex-direction: row;
  align-items: center;
}

.userpage_Photo {
  width: 150px;
  border-radius: 100%;
  margin-left: 150px;
}

.userpage_UserInfo {
  margin-left: 100px;
}

.userpage_NickName {
  font-size: var(--font--30--size);
}

.userpage_Email {
  margin-top: 8px;
  font-size: var(--font--14--size);
  color: var(--deepGray--color);
}

.userpage_UserInfo button {
  background-color: white;
  width: 130px;
  height: 34px;
  border-radius: 100px;
  font-size: var(--font--14--size);
  color: var(--deepGray--color);
  border: solid 1px var(--deepGray--color);
  margin-top: 20px;
  border-width: 2px;
}

.userpage_UserInfo button:hover {
  color: var(--red--color);
  background-color: transparent;
  border: solid 1px var(--red--color);
  border-width: 2px;
  cursor: pointer;
}

.userplant {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.userplant_Title {
  display: flex;
  width: 100%;
  height: 30px;
  text-align: left;
  font-size: var(--font--16--size);
  border-bottom: 1px solid #090909;
  margin-top: 30px;
}

.userplant_Plant {
  display: grid;
  justify-content: center;
  margin-top: 20px;
  margin-left: 0px;
  margin-bottom: 70px;
  grid-template-columns: repeat(6, auto);
  gap: 35px 35px;
}

.userpage_emailContent {
  color: #252525;
  font-size: var(--font--14--size);
}

@media screen and (max-width: 1430px) {
  .userplant_Plant {
    grid-template-columns: repeat(5, auto);
  }
}

@media screen and (max-width: 1230px) {
  .userplant_Plant {
    grid-template-columns: repeat(4, auto);
  }
}

@media screen and (max-width: 1040px) {
  .mypage_Containor {
    min-width: 1040px;
  }
}
