<<<<<<< Updated upstream
.mypage_Containor {
=======
.userplant_Containor {
>>>>>>> Stashed changes
    width: 100%;
}

.mypage_In {
    width: 100%;
    background-color: var(--lightGray--color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mypage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 110px;
    margin-top: 20px;
}

.userpage {
    background-color: var(--white--color);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    flex-direction: row;
    align-items: center;
}

.userpage_Photo {
    width: 120px;
    border-radius: 100%;
    margin-left: 100px;
}

.userpage_UserInfo {
    margin-left: 90px;
}

.userpage_NickName {
    font-size: var(--font--20--size);
}

.userpage_Email {
    margin-top: 3px;
    font-size: var(--font--10--size);
    color: var(--lightGray--color);
}

.userpage_Email a {
    text-decoration: none;
}

.userpage_Email a:hover {
    color: var(--deepGray--color);
}

.userpage_Email a:visited {
    color: var(--deepGray--color);
}

.userpage_Email a:active {
    color: var(--black--color);
}




.userpage_UserInfo button {
    background-color: white;
    width: 90px;
    height: 20px;
    border-radius: 10px;
    font-size: var(--font--10--size); 
    color: var(--deepGray--color);
    border: solid 1px var(--deepGray--color);
    margin-top: 13px;
    border-width: 2px;
}

.userpage_UserInfo button:hover {
    color: var(--red--color);
    background-color: transparent;
    border: solid 1px var(--red--color);
    border-width: 2px;
}

.userplant {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.userplant_Title {
    display: flex;
    width: 100%;
    height: 30px;
    text-align: left;
    font-size: var(--font--16--size);
    border-bottom: 1px solid #090909;
    margin-top: 30px;
}

.userplant_Plant {
    display: grid;
    justify-content: center;
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 30px;
    grid-template-columns: repeat(6, auto);
    gap: 0px 30px
}

@media screen and (max-width: 1400px) {
    .plantCard {
        background-color: white;
        margin-top: 20px;
        width: 160px;
        height: 250px;
    }
    .plantCard img {
        background-color: white;
        width: 160px;
        padding: 7px;
        object-fit: cover;
      }
    .userplant_Plant {
        display: grid;
        margin-top: 20px;
        grid-template-columns: repeat(6, auto);
        gap: 0px 30px
    }
    .plantCard_text {
        background-color: white;
        font-size: var(--font--12--size);
        margin-top: 5px;
        margin-left: 8px;
    }
    
    .plantCard_subText {
        background-color: white;
        color: var(--deepGray--color);
        font-size: 5px;
        margin-top: 5px;
        margin-left: 8px;
    }
}

@media screen and (max-width: 1230px) {
    .plantCard {
        background-color: white;
        margin-top: 20px;
        width: 140px;
        height: 230px;
    }
    .plantCard img {
        background-color: white;
        width: 140px;
        padding: 7px;
        object-fit: cover;
      }
    .userplant_Plant {
        justify-content: center;
        margin-top: 10px;
        grid-template-columns: repeat(6, auto);
        gap: 0px 27px
    }
    .plantCard_text {
        background-color: white;
        font-size: var(--font--12--size);
        margin-top: 5px;
        margin-left: 8px;
    }
    
}

@media screen and (max-width: 1080px) {
    .plantCard {
        background-color: white;
        margin-top: 20px;
        width: 118px;
        height: 200px;
    }
    .plantCard img {
        background-color: white;
        width: 118px;
        padding: 7px;
        object-fit: cover;
      }
    .userplant_Plant {
        display: grid;
        margin-top: 20px;
        grid-template-columns: repeat(6, auto);
        gap: 0px 30px
    }
    .plantCard_text {
        background-color: white;
        font-size: var(--font--10--size);
        margin-top: 5px;
        margin-left: 8px;
    }
    
}

@media screen and (max-width: 920px) {
    .plantCard {
        background-color: white;
        margin-top: 20px;
        width: 115px;
        height: 195px;
    }
    .plantCard img {
        background-color: white;
        width: 115px;
        padding: 7px;
        object-fit: cover;
      }
    .userplant_Plant {
        display: grid;
        margin-top: 20px;
        grid-template-columns: repeat(6, 131px);
        gap: 0px 1px
    }
}

