.plantCard {
  background-color: var(--white--color);
  width: 190px;
  height: 300px;
  text-decoration: none;
  color: var(--black--color);
}

.plantCard:hover {
  cursor: pointer;
}

.plantCard img {
  background-color: var(--white--color);
  width: 240px;
  padding: 7px;
  object-fit: cover;
}

.plantCard_text {
  width: 240px;
  background-color: var(--white--color);
  padding-bottom: 15px;
  padding-left: 10px;
}

.plantCard_maintext {
  font-size: var(--font--16--size);
}

.plantCard_subText {
  color: var(--deepGray--color);
  font-size: 5px;
}
