.plantCard {
  background-color: white;
  margin-top: 20px;
  width: 190px;
  height: 300px;
}

.plantCard:hover {
  cursor: pointer;
}

.plantCard img {
  background-color: white;
  width: 190px;
  padding: 7px;
  object-fit: cover;
}

.plantCard_text {
  background-color: white;
  font-size: var(--font--14--size);
  margin-top: 5px;
  margin-left: 8px;
}

.plantCard_subText {
  background-color: white;
  color: var(--deepGray--color);
  font-size: 5px;
  margin-top: 5px;
  margin-left: 8px;
}
