/*! SiteInfo_01 */
.siteinfo01_container {
  width: 100%;
  color: var(--black--color);
}

.siteinfo01_in {
  width: 100%;
  background-image: url(../Image/Main/SiteInfo/SiteInfo_1.jpg);
  background-size: cover;
  padding: 100px;
}

.siteinfo01_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.siteinfo01_text > img {
  width: 90px;
}

.siteinfo01_text > h1 {
  margin-top: 40px;
  font-size: var(--font--40--size);
}

.siteinfo01_text > button {
  margin-top: 10px;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: 3px solid var(--black--color);
  background-color: rgba(240, 255, 255, 0);
  font-weight: bold;
  margin-top: 60px;
}

.siteinfo01_text > button:hover {
  cursor: pointer;
  color: var(--red--color);
  border: 3px solid var(--red--color);
}

.siteinfo01_text > button:active {
  transform: scale(0.98);
}

.siteinfo01_text_in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: var(--font--16--size);
  letter-spacing: 1px;
}

.siteinfo01_text_in > div {
  margin-top: 3px;
}

/*! SiteInfo_02, 03 */
.siteinfo02_03_container {
  width: 100%;
  color: var(--black--color);
}

.siteinfo02_in {
  width: 100%;
  background-image: url(../Image/Main/SiteInfo/SiteInfo_2.jpg);
  background-size: cover;
  padding: 100px;
}

.siteinfo03_in {
  width: 100%;
  background-color: azure;
  background-image: url(../Image/Main/SiteInfo/SiteInfo_3.jpg);
  background-size: cover;
  padding: 100px;
}

.siteinfo02_03_explain {
  height: 407.13px;
  display: flex;
}

.siteinfo02_03_gif {
  width: 50%;
  height: 100%;
  background-color: blueviolet;
}

.siteinfo02_03_text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
}

.siteinfo02_03_text > h1 {
  font-size: var(--font--40--size);
}

.siteinfo02_03_text_in {
  margin-top: 20px;
  letter-spacing: 1px;
}

.siteinfo02_03_text_in > div {
  margin-top: 3px;
}

/*! siteinfo */
/* .slick-dots {
  position: absolute;
  bottom: 0;
} */
